<h1>Create your Party</h1>

<form method="post" action="/create">
  Name: <input type="text" name="name" required>
  Address: <input type="text" name="address" required>
  Latitude: <input type="text" name="lat" required>
  Longitude: <input type="text" name="long" required>
  Date: <input type="date" name="starts_at" required>
  <button type="submit" class="btn btn-default btn-success">Create</button>
</form>
